@import url('https://fonts.googleapis.com/css?family=Abhaya+Libre|Abril+Fatface|Chelsea+Market|Griffy|Kaushan+Script|Permanent+Marker|Satisfy|Source+Code+Pro');


$font-a : 'Abhaya Libre', serif;
$font-a : 'Abril Fatface', cursive;
$font-a : 'Kaushan Script', cursive;
$font-a : 'Satisfy', cursive;
$font-a : 'Permanent Marker', cursive;
$font-a : 'Source Code Pro', monospace;
$font-a : 'Griffy', cursive;
$font-a : 'Chelsea Market', cursive;